.content{
    margin-left: 10px;
    margin-right: 10px;
}
.formulario{
    max-width: 695px;
    margin: auto;
}
.tablita{
    max-width: 790px;
    margin: auto;
}
.required:after {
    content:"*";
    color: #e74c3c;
}
.errores{
    max-width: 1054px;
    margin: auto;
}